extends layout

block signin
    #signin
        |You can show that page each friday (at 5PM) to your followers, it's simple!
        br
        br
        a(href='#', title="Sign in with Twitter")
            img(src='/img/sign-in.png')

        #about
            |About
            div
                |Web page created by
                a(href='http://twitter.com/#!/Nesquik69', title='Twitter page') @Nesquik69
                |.
                br
                br
                |Currently, I've never found the author of this animation. If you know who he is, please, contact me
                |on my Twitter page and I will add his name on this page.