|You can show that page each friday to your followers, it's simple!
br
br
a(href='/auth', title="Sign in with Twitter")
    img(src='/img/sign-in.png')

#about
    |About
    div
        |Web page created by 
        a(href='http://jpardanaud.com', title='Portfolio') Johann Pardanaud
        br
        |Source code available on 
        a(href='https://github.com/Nesk/friday', title='Github repository') Github