* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #CCC;
    font-family: sans-serif;
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
}

a, a:hover, a:visited, a:active {
    color: #3D94C8;
}

object {
    width: 100%;
    height: 100%;
    display: none;
}

#msg-list {
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 1;
}

.msg {
    padding: 20px;
    height: 20px;
    background-color: #111;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;

    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hide-msg {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    border: 0;
    opacity: 0;
}

#content {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    padding: 20px;
    background-color: #111;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

#about {
    position: absolute;
    top: 0; right: 0;
    padding-top: 10px;
    width: 100px; height: 30px;
    font-weight: bold;
}

#about:hover div {
    right: 0px;
}

#about div {
    position: absolute;
    bottom: 40px; right: -310px;
    padding: 20px 30px;
    width: 245px;
    font-weight: normal;
    background-color: rgba(0,0,0,0.8);
    text-align: justify;

    -moz-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    transition: right 0.2s linear;
}